@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css2?family=Prompt&family=B612);

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  font-family: 'Prompt' ,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div[lang=en]{
  margin: 0;
  font-family: 'B612' ,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  max-width: 450px;
  border: #cbcfd6 1px solid;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
}

@media screen and (max-width: 380px) {
  .App {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
}