@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
//https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #5cdb95;
@text-selection-bg: @blue-4;
@zindex-message: 1100;
@info-color: @blue-6;
@zindex-notification: 1100;
@comment-action-hover-color: inherit;
@card-head-extra-color: rgba(75, 85, 99);
@zindex-back-top: 60;
@border-radius-base: 6px;
@border-radius-sm: 3px;
@checkbox-border-radius: 4px;
@btn-border-radius-sm: 3px;
